@import url('https://fonts.googleapis.com/css2?family=Lemon&family=Nunito&family=Poetsen+One&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lemon&family=Nunito&family=Poetsen+One&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lemon&family=Nunito&family=Poetsen+One&family=Roboto+Mono:ital,wght@0,300;1,300&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');
* {
    box-sizing: border-box;
    user-select: none;
    font-family: "Roboto Mono", monospace;
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
}

body {
    background: white;
    color: white;
}

header {
    background: rgba(26, 26, 26, 0.89);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(26, 26, 26, 0.3);
}

.header {
    display: flex;
    flex-direction: row;
    margin: auto;
    width: 100%;
}

.iconnav a img {
    width: 80px;
    height: 80px;
    margin: 10px;
}

.logotext {
    margin: auto auto auto 0;
    font-size: 25px;
    font-weight: 500;
}

main {
    margin: 100px auto;
    max-width: 1300px;
    display: flex;
    color: black;
}

.hejjestemernescik {
    margin: 20px;
}

.images {
    justify-content: space-evenly;
    flex-direction: row;
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    gap: 5em;
    order: sortable;
}

.image img {
    width: 300px;
    order: sortable;
    text-align: center;
    justify-content: center;
    align-self: flex-start;
    max-width: 100%;
    border: 1px solid transparent;
    border-radius: 6px;
    box-shadow: 0 0 20px 0 rgba(111, 0, 255, 0.5);
    background-color: rgba(111, 0, 255, 0.5);
}

footer {
    background-color: black;
    margin: auto;
    padding: 20px;
    min-height: 50px;
    width: 100%;
}

.footer {
    color: white;
    text-align: center;
}

ul li {
    font-family: "Roboto Condensed", sans-serif;
}

.hejjestemernescikas h2 {
    font-family: "Roboto Condensed", sans-serif;
}